In [15]:
import pandas as pd
import datetime as dt
import re, math
import numpy as np
import json

In [3]:
df = pd.read_csv('data/Stack_Overflow_Jobs.csv')
df.shape

(1050, 16)

In [43]:
df.head()

,company,company-size,company-type,description,experience-level,industry,job-type,link,location,perks,posted,request_date,role,salary,tags,title
0,Etiometry Inc.\n,11-50 people,Private,\nWe are currently seeking a Data Scientist to...,Mid-Level,"Data & Analytics, Healthcare, Medical Software",Full-time,/jobs/199604/data-scientist-etiometry-inc,"\n - \nBoston, MA",Paid relocation,3h ago,2019-01-07 22:51:19.033107,Data Scientist,NaN,"python, medical, data-science",Data Scientist
1,The Real Real\n,1k-5k people,Private,\nThe RealReal is leading the way in authentic...,"Mid-Level, Senior, Lead","eCommerce, Fashion, Retail",Full-time,/jobs/199609/senior-platform-developer-backend...,"\n - \nSan Francisco, CA",NaN,< 1h ago,2019-01-07 22:51:19.064124,Backend Developer,NaN,"ruby-on-rails, elixir",Senior Platform Developer (Backend Developer)
2,Pear Therapeutics\n,51-200 people,Private,"\nAbout Pear Therapeutics \nAt Pear, our missi...","Mid-Level, Senior",Biotechnology,Full-time,/jobs/204842/senior-platform-engineer-pear-the...,"\n - \nSan Francisco, CA",NaN,< 1h ago,2019-01-07 22:51:19.095266,Full Stack Developer,NaN,"node.js, mysql, rest, ecmascript-6, javascript",Senior Platform Engineer
3,Integrated Data Services (IDS)\n,51-200 people,Private,"\nSenior Java Developer\nLos Angeles, CA; Wash...",Senior,"Financial Technology, Government, Software Dev...",Full-time,/jobs/157266/senior-java-developer-integrated-...,"\n - \nLos Angeles, CA",Remote,< 1h ago,2019-01-07 22:51:19.125580,Full Stack Developer,NaN,"java-ee, spring, oracle, weblogic, jboss",Senior Java Developer
4,Integrated Data Services (IDS)\n,51-200 people,Private,"\nSenior Oracle PLSQL Developer\nLos Angeles, ...",Senior,"Financial Technology, Government, Software Dev...",Full-time,/jobs/141988/senior-oracle-plsql-developer-int...,"\n - \nLos Angeles, CA",Remote,< 1h ago,2019-01-07 22:51:19.160225,Database Administrator,NaN,"plsql, oracle, sql, rdbms, database, sysadmin",Senior Oracle PLSQL Developer

### Processando a coluna Location

In [44]:
def clear_location(x):
    if 'No office location' in x:
        return None
    
    loc = x.split()
    if '-' in loc:
        loc.remove('-')
    return ' '.join(loc)

df['location'] = df['location'].apply(clear_location)
df.head()

,company,company-size,company-type,description,experience-level,industry,job-type,link,location,perks,posted,request_date,role,salary,tags,title
0,Etiometry Inc.\n,11-50 people,Private,\nWe are currently seeking a Data Scientist to...,Mid-Level,"Data & Analytics, Healthcare, Medical Software",Full-time,/jobs/199604/data-scientist-etiometry-inc,"Boston, MA",Paid relocation,3h ago,2019-01-07 22:51:19.033107,Data Scientist,NaN,"python, medical, data-science",Data Scientist
1,The Real Real\n,1k-5k people,Private,\nThe RealReal is leading the way in authentic...,"Mid-Level, Senior, Lead","eCommerce, Fashion, Retail",Full-time,/jobs/199609/senior-platform-developer-backend...,"San Francisco, CA",NaN,< 1h ago,2019-01-07 22:51:19.064124,Backend Developer,NaN,"ruby-on-rails, elixir",Senior Platform Developer (Backend Developer)
2,Pear Therapeutics\n,51-200 people,Private,"\nAbout Pear Therapeutics \nAt Pear, our missi...","Mid-Level, Senior",Biotechnology,Full-time,/jobs/204842/senior-platform-engineer-pear-the...,"San Francisco, CA",NaN,< 1h ago,2019-01-07 22:51:19.095266,Full Stack Developer,NaN,"node.js, mysql, rest, ecmascript-6, javascript",Senior Platform Engineer
3,Integrated Data Services (IDS)\n,51-200 people,Private,"\nSenior Java Developer\nLos Angeles, CA; Wash...",Senior,"Financial Technology, Government, Software Dev...",Full-time,/jobs/157266/senior-java-developer-integrated-...,"Los Angeles, CA",Remote,< 1h ago,2019-01-07 22:51:19.125580,Full Stack Developer,NaN,"java-ee, spring, oracle, weblogic, jboss",Senior Java Developer
4,Integrated Data Services (IDS)\n,51-200 people,Private,"\nSenior Oracle PLSQL Developer\nLos Angeles, ...",Senior,"Financial Technology, Government, Software Dev...",Full-time,/jobs/141988/senior-oracle-plsql-developer-int...,"Los Angeles, CA",Remote,< 1h ago,2019-01-07 22:51:19.160225,Database Administrator,NaN,"plsql, oracle, sql, rdbms, database, sysadmin",Senior Oracle PLSQL Developer

### Criando a coluna Country

In [45]:
def separate_country(row):
    if not row.location:
        row['location'], row['country'] = (None, None)
    else:
        row['location'], _, row['country'] = row.location.partition(', ')
        
    return row
    
df = df.apply(separate_country, axis=1)
df.head()

,company,company-size,company-type,description,experience-level,industry,job-type,link,location,perks,posted,request_date,role,salary,tags,title,country
0,Etiometry Inc.\n,11-50 people,Private,\nWe are currently seeking a Data Scientist to...,Mid-Level,"Data & Analytics, Healthcare, Medical Software",Full-time,/jobs/199604/data-scientist-etiometry-inc,Boston,Paid relocation,3h ago,2019-01-07 22:51:19.033107,Data Scientist,NaN,"python, medical, data-science",Data Scientist,MA
1,The Real Real\n,1k-5k people,Private,\nThe RealReal is leading the way in authentic...,"Mid-Level, Senior, Lead","eCommerce, Fashion, Retail",Full-time,/jobs/199609/senior-platform-developer-backend...,San Francisco,NaN,< 1h ago,2019-01-07 22:51:19.064124,Backend Developer,NaN,"ruby-on-rails, elixir",Senior Platform Developer (Backend Developer),CA
2,Pear Therapeutics\n,51-200 people,Private,"\nAbout Pear Therapeutics \nAt Pear, our missi...","Mid-Level, Senior",Biotechnology,Full-time,/jobs/204842/senior-platform-engineer-pear-the...,San Francisco,NaN,< 1h ago,2019-01-07 22:51:19.095266,Full Stack Developer,NaN,"node.js, mysql, rest, ecmascript-6, javascript",Senior Platform Engineer,CA
3,Integrated Data Services (IDS)\n,51-200 people,Private,"\nSenior Java Developer\nLos Angeles, CA; Wash...",Senior,"Financial Technology, Government, Software Dev...",Full-time,/jobs/157266/senior-java-developer-integrated-...,Los Angeles,Remote,< 1h ago,2019-01-07 22:51:19.125580,Full Stack Developer,NaN,"java-ee, spring, oracle, weblogic, jboss",Senior Java Developer,CA
4,Integrated Data Services (IDS)\n,51-200 people,Private,"\nSenior Oracle PLSQL Developer\nLos Angeles, ...",Senior,"Financial Technology, Government, Software Dev...",Full-time,/jobs/141988/senior-oracle-plsql-developer-int...,Los Angeles,Remote,< 1h ago,2019-01-07 22:51:19.160225,Database Administrator,NaN,"plsql, oracle, sql, rdbms, database, sysadmin",Senior Oracle PLSQL Developer,CA

### Processando a coluna Posted

In [46]:
df.posted.unique()

array(['3h ago', '< 1h ago', '1h ago', '2h ago', '4h ago', '5h ago',
       '6h ago', '7h ago', '8h ago', '9h ago', '10h ago', '11h ago',
       '12h ago', '13h ago', '14h ago', '15h ago', '17h ago', '16h ago',
       '20h ago', '18h ago', '19h ago', '22h ago', 'yesterday', '2d ago',
       '3d ago'], dtype=object)

In [47]:
def replace_times_ago_to_date(row):
    times_ago, req_date = row['posted'], row['request_date']
    
    req_date = dt.datetime.strptime(req_date, "%Y-%m-%d %H:%M:%S.%f")
    numero = re.sub('[^\d]', '',times_ago)

    if 'h ago' in times_ago:
        return req_date - dt.timedelta(hours= int(numero))
    elif 'd ago' in times_ago:
        return req_date - dt.timedelta(days= int(numero))
    else:
        return req_date - dt.timedelta(days= 1)
                 
df['posted'] = df.apply(replace_times_ago_to_date, axis=1)
df.head()

,company,company-size,company-type,description,experience-level,industry,job-type,link,location,perks,posted,request_date,role,salary,tags,title,country
0,Etiometry Inc.\n,11-50 people,Private,\nWe are currently seeking a Data Scientist to...,Mid-Level,"Data & Analytics, Healthcare, Medical Software",Full-time,/jobs/199604/data-scientist-etiometry-inc,Boston,Paid relocation,2019-01-07 19:51:19.033107,2019-01-07 22:51:19.033107,Data Scientist,NaN,"python, medical, data-science",Data Scientist,MA
1,The Real Real\n,1k-5k people,Private,\nThe RealReal is leading the way in authentic...,"Mid-Level, Senior, Lead","eCommerce, Fashion, Retail",Full-time,/jobs/199609/senior-platform-developer-backend...,San Francisco,NaN,2019-01-07 21:51:19.064124,2019-01-07 22:51:19.064124,Backend Developer,NaN,"ruby-on-rails, elixir",Senior Platform Developer (Backend Developer),CA
2,Pear Therapeutics\n,51-200 people,Private,"\nAbout Pear Therapeutics \nAt Pear, our missi...","Mid-Level, Senior",Biotechnology,Full-time,/jobs/204842/senior-platform-engineer-pear-the...,San Francisco,NaN,2019-01-07 21:51:19.095266,2019-01-07 22:51:19.095266,Full Stack Developer,NaN,"node.js, mysql, rest, ecmascript-6, javascript",Senior Platform Engineer,CA
3,Integrated Data Services (IDS)\n,51-200 people,Private,"\nSenior Java Developer\nLos Angeles, CA; Wash...",Senior,"Financial Technology, Government, Software Dev...",Full-time,/jobs/157266/senior-java-developer-integrated-...,Los Angeles,Remote,2019-01-07 21:51:19.125580,2019-01-07 22:51:19.125580,Full Stack Developer,NaN,"java-ee, spring, oracle, weblogic, jboss",Senior Java Developer,CA
4,Integrated Data Services (IDS)\n,51-200 people,Private,"\nSenior Oracle PLSQL Developer\nLos Angeles, ...",Senior,"Financial Technology, Government, Software Dev...",Full-time,/jobs/141988/senior-oracle-plsql-developer-int...,Los Angeles,Remote,2019-01-07 21:51:19.160225,2019-01-07 22:51:19.160225,Database Administrator,NaN,"plsql, oracle, sql, rdbms, database, sysadmin",Senior Oracle PLSQL Developer,CA

In [48]:
df = df.drop(['request_date'], axis=1)

### Processando a coluna Salary

In [49]:
# Valor para conversão de uma moeda para Real
moedas = {
    'R$': 1, # Real
    'C$': 2.88, # Dolar Canadense
    '£': 4.91, # Libra esterlina, Reino Unido
    '€': 4.30, # Euro
    '₹': 0.052, # Rúpia indiana
    'A$': 2.75, # Dolar Australiano
    'zł': 1, # Zloti polonês
    'SEK': 0.42, # Coroa Sueca
    'CHF': 3.76, # Franco suíço
    'MXN': 0.19, # Peso mexicano
    'R': 0.26, # Rand Sul-Africano
    '$': 3.78, # Dolar Americano
}

In [50]:
def clear_salary(row):
    row['moeda_original'] = '-'
    
    if isinstance(row['salary'], float):
        return row
    
    for moeda in moedas.keys():
        if moeda in row['salary']:
            min_max_list = re.sub('[^\d-]','', row['salary']).split('-')

            if len(min_max_list) == 2:
                row['salary_min'], row['salary_max'] = tuple(min_max_list)
            else:
                row['salary_max'] = min_max_list[0]

            row['moeda_original'] = moeda
            break
    
    return row

df = df.apply(clear_salary, axis=1)
df.head()

,company,company-size,company-type,country,description,experience-level,industry,job-type,link,location,moeda_original,perks,posted,role,salary,salary_max,salary_min,tags,title
0,Etiometry Inc.\n,11-50 people,Private,MA,\nWe are currently seeking a Data Scientist to...,Mid-Level,"Data & Analytics, Healthcare, Medical Software",Full-time,/jobs/199604/data-scientist-etiometry-inc,Boston,-,Paid relocation,2019-01-07 19:51:19.033107,Data Scientist,NaN,NaN,NaN,"python, medical, data-science",Data Scientist
1,The Real Real\n,1k-5k people,Private,CA,\nThe RealReal is leading the way in authentic...,"Mid-Level, Senior, Lead","eCommerce, Fashion, Retail",Full-time,/jobs/199609/senior-platform-developer-backend...,San Francisco,-,NaN,2019-01-07 21:51:19.064124,Backend Developer,NaN,NaN,NaN,"ruby-on-rails, elixir",Senior Platform Developer (Backend Developer)
2,Pear Therapeutics\n,51-200 people,Private,CA,"\nAbout Pear Therapeutics \nAt Pear, our missi...","Mid-Level, Senior",Biotechnology,Full-time,/jobs/204842/senior-platform-engineer-pear-the...,San Francisco,-,NaN,2019-01-07 21:51:19.095266,Full Stack Developer,NaN,NaN,NaN,"node.js, mysql, rest, ecmascript-6, javascript",Senior Platform Engineer
3,Integrated Data Services (IDS)\n,51-200 people,Private,CA,"\nSenior Java Developer\nLos Angeles, CA; Wash...",Senior,"Financial Technology, Government, Software Dev...",Full-time,/jobs/157266/senior-java-developer-integrated-...,Los Angeles,-,Remote,2019-01-07 21:51:19.125580,Full Stack Developer,NaN,NaN,NaN,"java-ee, spring, oracle, weblogic, jboss",Senior Java Developer
4,Integrated Data Services (IDS)\n,51-200 people,Private,CA,"\nSenior Oracle PLSQL Developer\nLos Angeles, ...",Senior,"Financial Technology, Government, Software Dev...",Full-time,/jobs/141988/senior-oracle-plsql-developer-int...,Los Angeles,-,Remote,2019-01-07 21:51:19.160225,Database Administrator,NaN,NaN,NaN,"plsql, oracle, sql, rdbms, database, sysadmin",Senior Oracle PLSQL Developer

### Replace Countries

In [51]:
df['country'] = df['country'].replace({
    'Deutschland': 'Alemanha',
    'Germany': 'Alemanha',
    'UK': 'Reino Unido',
    'Netherlands': 'Holanda',
    'Sweden': 'Suécia',
    'France': 'França',
    'Schweiz': 'Suíça',
    'Norway': 'Noruega',
    'Switzerland': 'Suíça',
    'Poland': 'Polônia',
    'Romania': 'Romênia',
    'Belgium': 'Bélgica',
    'Österreich': 'Áustria'
})

### Replace Contry EUA

In [52]:
df['country'] = df['country'].replace({
    'TX': 'Texas, EUA',
    'CA': 'Califórnia, EUA',
    'VA': 'Virgínia, EUA',
    'NY': 'Nova York, EUA',
    'CO': 'Colorado, EUA',
    'PA': 'Pensilvânia, EUA',
    'MA': 'Massachusetts, EUA',
    'IL': 'Illinois, EUA',
    'NJ': 'Nova Jersey, EUA',
    'UT': 'Utah, EUA',
    'OH': 'Ohio, EUA',
    'FL': 'Flórida, EUA',
    'WI': 'Wisconsin, EUA',
    'DC': 'Washington, EUA',
    'TN': 'Tennessee, EUA',
    'MI': 'Michigan, EUA',
    'WA': 'Washington, EUA',
    'MD': 'Maryland, EUA',
    'IN': 'Indiana, EUA',
    'AZ': 'Arizona, EUA',
    'DE': 'Delaware, EUA',
    'GA': 'Georgia, EUA',
    'MO': 'Missouri, EUA',
    'NC': 'Carolina do Norte, EUA'
})

### Convertendo a moeda para Real
   - Converte cada valor para a moeda Real de acordo com a cotação definida em _moedas_
   - Coverte o salário anual para mensal
   - Calcula a média entre o mínimo e máximo

In [53]:
df[['salary_min', 'salary_max', 'salary']] = df[['salary_min', 'salary_max', 'salary']].fillna(0)
df.head()

,company,company-size,company-type,country,description,experience-level,industry,job-type,link,location,moeda_original,perks,posted,role,salary,salary_max,salary_min,tags,title
0,Etiometry Inc.\n,11-50 people,Private,"Massachusetts, EUA",\nWe are currently seeking a Data Scientist to...,Mid-Level,"Data & Analytics, Healthcare, Medical Software",Full-time,/jobs/199604/data-scientist-etiometry-inc,Boston,-,Paid relocation,2019-01-07 19:51:19.033107,Data Scientist,0,0,0,"python, medical, data-science",Data Scientist
1,The Real Real\n,1k-5k people,Private,"Califórnia, EUA",\nThe RealReal is leading the way in authentic...,"Mid-Level, Senior, Lead","eCommerce, Fashion, Retail",Full-time,/jobs/199609/senior-platform-developer-backend...,San Francisco,-,NaN,2019-01-07 21:51:19.064124,Backend Developer,0,0,0,"ruby-on-rails, elixir",Senior Platform Developer (Backend Developer)
2,Pear Therapeutics\n,51-200 people,Private,"Califórnia, EUA","\nAbout Pear Therapeutics \nAt Pear, our missi...","Mid-Level, Senior",Biotechnology,Full-time,/jobs/204842/senior-platform-engineer-pear-the...,San Francisco,-,NaN,2019-01-07 21:51:19.095266,Full Stack Developer,0,0,0,"node.js, mysql, rest, ecmascript-6, javascript",Senior Platform Engineer
3,Integrated Data Services (IDS)\n,51-200 people,Private,"Califórnia, EUA","\nSenior Java Developer\nLos Angeles, CA; Wash...",Senior,"Financial Technology, Government, Software Dev...",Full-time,/jobs/157266/senior-java-developer-integrated-...,Los Angeles,-,Remote,2019-01-07 21:51:19.125580,Full Stack Developer,0,0,0,"java-ee, spring, oracle, weblogic, jboss",Senior Java Developer
4,Integrated Data Services (IDS)\n,51-200 people,Private,"Califórnia, EUA","\nSenior Oracle PLSQL Developer\nLos Angeles, ...",Senior,"Financial Technology, Government, Software Dev...",Full-time,/jobs/141988/senior-oracle-plsql-developer-int...,Los Angeles,-,Remote,2019-01-07 21:51:19.160225,Database Administrator,0,0,0,"plsql, oracle, sql, rdbms, database, sysadmin",Senior Oracle PLSQL Developer

In [54]:
def converter_para_real(row):
    moeda = 0
    if row['moeda_original'] != '-':
        moeda = moedas[row['moeda_original']]
        
    row['salary_min'] = math.floor((moeda * int(row['salary_min'])) / 12)
    row['salary_max'] = math.ceil((moeda * int(row['salary_max'])) / 12)
    row['salary_mean'] = row[['salary_min','salary_max']].mean()
    return row

df = df.apply(converter_para_real, axis=1)
df = df.drop(['salary'], axis=1)
df.head()

,company,company-size,company-type,country,description,experience-level,industry,job-type,link,location,moeda_original,perks,posted,role,salary_max,salary_min,tags,title,salary_mean
0,Etiometry Inc.\n,11-50 people,Private,"Massachusetts, EUA",\nWe are currently seeking a Data Scientist to...,Mid-Level,"Data & Analytics, Healthcare, Medical Software",Full-time,/jobs/199604/data-scientist-etiometry-inc,Boston,-,Paid relocation,2019-01-07 19:51:19.033107,Data Scientist,0,0,"python, medical, data-science",Data Scientist,0.0
1,The Real Real\n,1k-5k people,Private,"Califórnia, EUA",\nThe RealReal is leading the way in authentic...,"Mid-Level, Senior, Lead","eCommerce, Fashion, Retail",Full-time,/jobs/199609/senior-platform-developer-backend...,San Francisco,-,NaN,2019-01-07 21:51:19.064124,Backend Developer,0,0,"ruby-on-rails, elixir",Senior Platform Developer (Backend Developer),0.0
2,Pear Therapeutics\n,51-200 people,Private,"Califórnia, EUA","\nAbout Pear Therapeutics \nAt Pear, our missi...","Mid-Level, Senior",Biotechnology,Full-time,/jobs/204842/senior-platform-engineer-pear-the...,San Francisco,-,NaN,2019-01-07 21:51:19.095266,Full Stack Developer,0,0,"node.js, mysql, rest, ecmascript-6, javascript",Senior Platform Engineer,0.0
3,Integrated Data Services (IDS)\n,51-200 people,Private,"Califórnia, EUA","\nSenior Java Developer\nLos Angeles, CA; Wash...",Senior,"Financial Technology, Government, Software Dev...",Full-time,/jobs/157266/senior-java-developer-integrated-...,Los Angeles,-,Remote,2019-01-07 21:51:19.125580,Full Stack Developer,0,0,"java-ee, spring, oracle, weblogic, jboss",Senior Java Developer,0.0
4,Integrated Data Services (IDS)\n,51-200 people,Private,"Califórnia, EUA","\nSenior Oracle PLSQL Developer\nLos Angeles, ...",Senior,"Financial Technology, Government, Software Dev...",Full-time,/jobs/141988/senior-oracle-plsql-developer-int...,Los Angeles,-,Remote,2019-01-07 21:51:19.160225,Database Administrator,0,0,"plsql, oracle, sql, rdbms, database, sysadmin",Senior Oracle PLSQL Developer,0.0

### Company Size

In [67]:
size_dict = {
    '11-50 people': 50,
    '1k-5k people': 5000,
    '51-200 people': 200,
    '5k-10k people': 10000,
    '501-1k people': 1000,
    '1-10 people': 10,
    'nan': '-',
    '10k+ people': '+10000',
    '201-500 people': 500,
    '0+ people': 10,
    '0-0 people': '-'
}

df['company-size'] = df['company-size'].apply(lambda x: size_dict[str(x)])

In [68]:
df.head()

,company,company-size,company-type,country,description,experience-level,industry,job-type,link,location,moeda_original,perks,posted,role,salary_max,salary_min,tags,title,salary_mean
0,Etiometry Inc.\n,50,Private,"Massachusetts, EUA",\nWe are currently seeking a Data Scientist to...,Mid-Level,"Data & Analytics, Healthcare, Medical Software",Full-time,/jobs/199604/data-scientist-etiometry-inc,Boston,-,Paid relocation,2019-01-07 19:51:19.033107,Data Scientist,0,0,"python, medical, data-science",Data Scientist,0.0
1,The Real Real\n,5000,Private,"Califórnia, EUA",\nThe RealReal is leading the way in authentic...,"Mid-Level, Senior, Lead","eCommerce, Fashion, Retail",Full-time,/jobs/199609/senior-platform-developer-backend...,San Francisco,-,NaN,2019-01-07 21:51:19.064124,Backend Developer,0,0,"ruby-on-rails, elixir",Senior Platform Developer (Backend Developer),0.0
2,Pear Therapeutics\n,200,Private,"Califórnia, EUA","\nAbout Pear Therapeutics \nAt Pear, our missi...","Mid-Level, Senior",Biotechnology,Full-time,/jobs/204842/senior-platform-engineer-pear-the...,San Francisco,-,NaN,2019-01-07 21:51:19.095266,Full Stack Developer,0,0,"node.js, mysql, rest, ecmascript-6, javascript",Senior Platform Engineer,0.0
3,Integrated Data Services (IDS)\n,200,Private,"Califórnia, EUA","\nSenior Java Developer\nLos Angeles, CA; Wash...",Senior,"Financial Technology, Government, Software Dev...",Full-time,/jobs/157266/senior-java-developer-integrated-...,Los Angeles,-,Remote,2019-01-07 21:51:19.125580,Full Stack Developer,0,0,"java-ee, spring, oracle, weblogic, jboss",Senior Java Developer,0.0
4,Integrated Data Services (IDS)\n,200,Private,"Califórnia, EUA","\nSenior Oracle PLSQL Developer\nLos Angeles, ...",Senior,"Financial Technology, Government, Software Dev...",Full-time,/jobs/141988/senior-oracle-plsql-developer-int...,Los Angeles,-,Remote,2019-01-07 21:51:19.160225,Database Administrator,0,0,"plsql, oracle, sql, rdbms, database, sysadmin",Senior Oracle PLSQL Developer,0.0

In [69]:
df = df[[
    'title','tags', 'perks', 'country',
    'location', 'company', 'company-size', 'company-type',
    'description','experience-level', 'industry', 'job-type',
    'link' , 'posted', 'moeda_original', 'role',
    'salary_min', 'salary_max', 'salary_mean']]

In [70]:
df.to_csv('data/Stack_Overflow_Jobs2.csv', index=False)

### Criando Data Frame para as Tags

In [4]:
job_tags = []

def separate_tags(row):
    tags_dic = {'id': row.name}

    if not isinstance(row['tags'], float):
        tags = row['tags']
        
        for tag in tags.split(', '):
            tags_dic[tag] = 1
    
    job_tags.append(tags_dic)
    return row
    
    
_ = df.apply(separate_tags, axis=1)

In [11]:
del job_tags[0]

In [12]:
df_tags = pd.DataFrame(job_tags)

In [13]:
df_tags.shape

(1050, 575)

In [14]:
df_tags.head()

,.net,.net-core,.net-framework,2d,3d,ab-initio,actionscript,actionscript-2,admin,adobe-xd,...,wordpress-rest-api,wpf,xamarin,xctest,xilinx,xml,xtend,yocto,zend-framework,zipline
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
df_tags.to_csv('data/jobs_tags.csv', index=False)

In [18]:
with open('data/tags_list.json', 'w') as file:
    json.dump(df_tags.columns.tolist(), file)